name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
  schedule: 
    ##- cron: "0 19 * * *" # Run daily at 20:00 Netherlands time (approx)
    - cron: "30 17 * * *" # Run daily at 17:30 Netherlands time
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Install dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build

      - name: Install Playwright browsers
        run: pwsh $(find . -type f -name 'playwright.ps1') install --with-deps
        
      - name: Run tests
        run: dotnet test --logger "trx;LogFileName=test-results.trx"
